<!DOCTYPE html>
<html lang="zh">
<head>
  <meta name="keywords" content="<placeholder-keywords/>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="<placeholder-to-index/>../favicon.png">
  <title><placeholder-title/> - 晶体图书馆（精简版）</title>
  <link rel="canonical" href="https://crystaltechstudio.github.io/Library/lite/chapters/<placeholder-html-relative-path/>" />
  <script>
    if (!(/bot|google|baidu|bing|msn|teoma|slurp|yandex/i.test(navigator.userAgent))) {
      if (window.localStorage.getItem('lite') !== 'true') {
        setTimeout(() => {
          window.location.href = '/#/chapter/<placeholder-html-relative-path/>';
        }, 1000);
      }
    }
  </script>
</head>

<body>
  <header>
    <aside>
      <p>您正在访问适用于不支持 JavaScript 的浏览器的晶体图书馆精简版。精简版会缺少大量功能，如果您在使用现代浏览器，请<a href="<placeholder-to-full-version/>">点此前往晶体图书馆完整版</a>。</p>
    </aside>
    <nav>
      <p>
        <placeholder-prev/>
        <a href="<placeholder-to-index/>entry.html">返回书目选择</a>
        <placeholder-next/>
      </p>
    </nav>
  </header>
  <main>
    <aside><placeholder-authors/></aside>
    <article>
      <placeholder-content/>
    </article>
  </main>
  <footer>
    <nav>
      <p>
        <placeholder-prev/>
        <a href="<placeholder-to-index/>">返回书目选择</a>
        <placeholder-next/>
      </p>
    </nav>
    <aside>
      <h1>转载须知</h1>
      <p>晶体图书馆内所有文章均以 <a class="regular" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" rel="noopener noreferrer">CC BY-NC-ND 4.0</a> 协议发布。转载时请注明以下信息：</p>
      <pre class="wrapping">
        <code>本文内容摘自晶体图书馆（https://crystaltechstudio.github.io/Library）。<placeholder-authors/>本文以 CC BY-NC-ND 4.0 协议发布，转载请注明上述所有信息。</code>
      </pre>
    </aside>
  </footer>
</body>

</html>
